body {
    background-image: url(/static/bcgknd.png);
    background-repeat: repeat-x repeat-y;
}

a {
    color: black;
}

#pokImg {
    max-width: 40%;
    max-height: 40%;
}

.Fire-type {
    background-color: red;
}

.Ground-type {
    background-color: brown;
    color: white;
}

.Electric-type {
    background-color: yellow;
}

.Grass-type {
    background-color: lightgreen;
}

.Poison-type {
    background-color: purple;
    color: white;
}

.Water-type {
    background-color: aqua;
}

.Fairy-type {
    background-color: pink;
}

.Normal-type {
    background-color: beige;
}

.Flying-type {
    background-color: lightskyblue;
}

.Bug-type {
    background-color: darkgreen;
    color: white;
}

.Fighting-type {
    background-color: orange;
    color: white;
}

.Psychic-type {
    background-color: teal;
    color: white;
}

.Rock-type {
    background-color: gray;
    color: white;
}

.Ice-type {
    background-color: lightblue;
}

.Ghost-type {
    background-color: mediumpurple;
    color: white;
}

.Dragon-type {
    background-color: salmon;
}